- gamefin = %w(win lose full).include?(@status) ? true : false
.container-fluid
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h1= "LV - #{@game_level}"
          %h5
            = link_to '戻る', root_path
        .panel-body
          - if gamefin
            .row
              .col-xs-12
              - case @status
              - when 'win'
                あなたの勝ちです！
              - when 'lose'
                あなたの負けです....
              - when 'full'
                ありえないことですが．．．引き分けです
          - if session[@game_level]['board']
            %table
              - Game::BOARD_SIZE.times do |i|
                %tr
                  - Game::BOARD_SIZE.times do |j|
                    %td
                      - # TODO: game fin change color : masu
                      - case session[@game_level]['board'][i][j]
                      - when 0
                        - if gamefin
                          = link_to '+', '#', class: 'btn btn-default'
                        - else
                          = link_to '+', game_path(i: i, j: j, level: @game_level), class: 'btn btn-default pushable'
                      - when 1
                        %span.btn.btn-primary ○
                      - when -1
                        %span.btn.btn-success ●
            = link_to '先行からはじめる', game_reset_path(level: @game_level), class: 'btn btn-primary'
            = link_to '後攻からはじめる', game_reset_path(level: @game_level, turn: 'suf'), class: 'btn btn-primary'
          - else
            %h2 Session Error: Please reload this page.
