.container-fluid
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          .jumbotron
            .container
              %h1 AI Gomoku
        .panel-body
          %h2
            %span.glyphicon.glyphicon-road
              Rules
          %ul.list-group
            %li.list-group-item
              五つ先に石を並べた方の勝ち
            %li.list-group-item
              斜め判定有り
            %li.list-group-item
              禁じ手は無し
            %li.list-group-item
              九路盤
            %li.list-group-item
              先行・後攻入れ替えて2戦行う
            %li.list-group-item
              先手・後手の一手目縛りは無し
          %h2.glyphicon.glyphicon-queen AI
          %ul
            %li= link_to 'LV-0 (random)', game_path
            %li= link_to 'LV-1', game_path(level: 1)
            %li= link_to 'LV-2', game_path(level: 2)
            %li= link_to 'LV-3', game_path(level: 3)
            %li= link_to 'LV-4', game_path(level: 4)
            %li= link_to 'LV-5', game_path(level: 5)
